<div class="header center-align vertical-align">
  <%= image_tag @user.facebook_picture_url, class: 'circle'%>
  <h4 class="white-text"> <%= @user.first_name %> <%= @user.last_name %></h4>
  <h4 class="white-text"> <%= t('.title') %></h4>
</div>

  <ul class="collapsible center-align " data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <h5><%= t('.host-collapse') %> </h5>
      </div>
        <%@user.hangouts.future_hangout(Time.zone.now).valid.each do |hangout|%>
      <div class="collapsible-body">
        <%= t('.host_list_html', day: hangout.date.strftime('%d %b, %Y'), link: link_to(hangout.title, hangout_path(hangout))) %>
        <div class=" valign-wrapper ">
        <%= link_to edit_hangout_path(hangout), class: "btn-small grey lighten-1" do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
        <%= button_to cancel_hg_hangout_path(hangout),class:"btn-small grey lighten-1", method: :patch, data: { confirm: t('.alert_delete') } do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
        </div>
      </div>
    <% end %>
    </li>
    <li>
      <div class="collapsible-header">
        <h5><%= t('.guest-collapse') %> </h5>
      </div>
       <%@user.hangouts_as_guest.future_hangout(Time.zone.now).valid.each do |hangout|%>
        <div class="collapsible-body">
        <%= t('.guest_list_html', day: hangout.date.strftime('%d %b, %Y'), link: link_to(hangout.title, hangout_path(hangout)), host: hangout.user.first_name ) %>
        <%= button_to hangout_confirmation_path( hangout, Confirmation.where( hangout: hangout, user: @user)), :method=> :delete, class:"btn", data: { confirm: t('.alert_delete') } do %><i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
        </div>
      <% end %>
    </li>
  </ul>
