<div>

  <%= image_tag @user.facebook_picture_url%>
  <h1> <%= @user.first_name %></h1>


  <h2><%= t('.title') %></h2>


  <h3><%= t('.host_summary', count: @hangouts_as_host.size) %></h3>

  <ul>
    <%@hangouts_as_host.each do |hangout|%>
      <li><%= t('.host_list_html', day: hangout.date.strftime('%d %b, %Y'), hour: hangout.date.strftime('%I:%M%P'), link: link_to(hangout.title, hangout_path(hangout)), confirmation_count: hangout.confirmations.count ) %></li>
      <% end %>
  </ul>

   <h3><%= t('.guest_summary', count: @hangouts_as_guest.size) %></h3>

  <ul>
    <%@hangouts_as_guest.each do |hangout|%>
      <li><%= t('.guest_list_html', day: hangout.date.strftime('%d %b, %Y'), hour: hangout.date.strftime('%I:%M%P'), link: link_to(hangout.title, hangout_path(hangout)), host: hangout.user.first_name ) %></li>
    <% end %>
  </ul>

</div>


