<div>

  <%= image_tag @user.facebook_picture_url%>
  <h1> <%= @user.first_name %></h1>


  <h2>Sus eventos:</h2>

  <h3>Voce como organizador tem <%= @hangouts_as_host.count %> Hangouts</h3>

  <ul>
    <%@hangouts_as_host.each do |hangout|%>
      <li> Dia <%= hangout.date.strftime('%d %b, %Y')%> as <%= hangout.date.strftime('%I:%M%P')%> <strong><%= link_to hangout.title, hangout_path(hangout)%></strong> com <%= hangout.confirmations.count%> confirmados </li>
      <% end %>
  </ul>

  <h3>Voce foi convidado para <%= @hangouts_as_guest.count %> Hangouts</h3>

  <ul>
    <%@hangouts_as_guest.each do |hangout|%>
      <li> Dia <%= hangout.date.strftime('%d %b, %Y')%> as <%= hangout.date.strftime('%I:%M%P')%> <strong><%= link_to hangout.title, hangout_path(hangout)%></strong> organizado por <%= hangout.user.first_name %> </li>
    <% end %>
  </ul>

</div>
