<nav class="on-top-of-map">
  <div class="nav-wrapper">
    <%= link_to root_path do %>
      <a href="#" class="brand-logo center">cheers</a>
    <% end %>
    <a href="root_path" data-activates="mobile-demo" class="button-collapse show-on-large">
      <i class="material-icons">menu</i>
    </a>
  <% unless current_user.nil? %>
    <ul class="side-nav" id="mobile-demo">
      <div class="avatar-navbar-wrapper center-align vertical-align">
        <%= image_tag current_user.facebook_picture_url, class: 'avatar-navbar' %>
        <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      </div>
      <li><%= link_to profiles_show_path do %>
        <i class="material-icons">person</i><%= t(".profile", default: "Profile") %>
      <% end %>
      </li>
      <li><%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">exit_to_app</i><%= t(".sign_out", default: "Log out") %>
      <% end %>
      </li>
      </ul>
    <% else %>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Sign in', user_facebook_omniauth_authorize_path, class: 'waves-effect waves-light btn'%></li>
    </ul>
    <% end %>
  </div>
</nav>
