<nav class="on-top-of-map">
  <div class="nav-wrapper">
    <%= link_to root_path do %>
      <a href="#" class="brand-logo center">Kippis</a>
    <% end %>
    <a href="root_path" data-activates="mobile-demo" class="button-collapse show-on-large">
      <i class="material-icons">menu</i>
    </a>
  <% unless current_user.nil? %>
    <ul class="side-nav" id="mobile-demo">
      <div class="avatar-navbar-wrapper center-align vertical-align">
        <%= image_tag current_user.facebook_picture_url, class: 'circle' %>
        <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      </div>
      <li><%= link_to root_path do %>
        <i class="material-icons">mood</i><%= t(".hangout-create", default: "New Hangout") %>
      <% end %>
      </li>
      <li><%= link_to profiles_show_path do %>
        <i class="material-icons">person</i><%= t(".profile", default: "Profile") %>
      <% end %>
      </li>
      <li><%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">exit_to_app</i><%= t(".sign_out", default: "Log out") %>
      <% end %>
      </li>
      </ul>
    <% else %>
    <ul class="side-nav" id="mobile-demo">

      <li><%= link_to user_facebook_omniauth_authorize_path, class:'btn z-depth-2', id: 'facebook-btn-sidenav' do %>
        <i class="fa fa-facebook-official fa-2x" id="face-icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Log in With Facebook
      <% end %></li>
    </ul>
    <% end %>
  </div>
</nav>
