<div class="container" id="force_zone_page">
  zone forced
  <div class="row">
    <div class="col-xs 12">
        <%= simple_form_for(@hangout) do |f| %>
          <div class="form-inline">
            <%= f.input :center_address, label: false %>
            <%= f.input :latitude, label: false %>
            <%= f.input :longitude, label: false %>
            <%= f.input :status, label: false, input_html: {value: 'vote_on_going'} %>
            <%= f.submit class: 'btn btn-default', value: t(".btn-text") %>
          </div>
        <% end %>
    </div>
  </div>



      <div id="map" style="width:100%;height:300px"></div>

</div>

