<div class="container">
  <div class="row">
    <div class="col-xs 12">

        <%= simple_form_for([@hangout, @confirmation]) do |f| %>
          <div class="form-inline">
            <%= f.input :leaving_address, id: "leaving_address", placeholder: t('.placeholder'), label: false %>
            <%= f.submit class: 'btn btn-default', value: t(".btn-text") %>
          </div>
        <% end %>

    </div>
  </div>

<div class="row">
    <div class="col-xs 12">
      <div id="map" style="width:100%;height:300px"></div>
      <ul class="list-inline">
      <li><button><%= image_tag "driving.png", id: "driving", class: "active transport-btn"%></button></li>
      <li><button><%= image_tag "transit.png", id: "transit", class: "transport-btn"%></button></li>
      <li><button><%= image_tag "walking.png", id: "walking", class: "transport-btn"%></button></li>
      <li><button><%= image_tag "cycling.png", id: "cycling", class: "transport-btn"%></button></li>
      </ul>
    </div>
  </div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>


    geolocator.config({language: "en", google: {version: "3", key: "<%=ENV['GOOGLE_API_SERVER_KEY']%>"}});

    $(document).ready(function() {
      window.map = new google.maps.Map(document.getElementById('map'), window.MAP_OPTIONS);
      window.markers = [];

      function getcoord() {
        geolocator.locate(GEOLOCATOR_OPTIONS, function (err, location) {
          if (err) return console.log(err);
          var coord = {lat: location.coords.latitude, lng: location.coords.longitude};
          map.panTo(coord);

          marker = new google.maps.Marker({position: coord, map: map});
          markers.push(marker)
          map.setZoom(14);
        });
      };
      getcoord();
    });
  <% end %>
<% end %>

</div>
