<div class="header center-align">
  <%= image_tag @hangout.user.facebook_picture_url, class: 'circle z-depth-2'%>
    <h4 class="white-text"><%=@hangout.title%></h4>
    <p class="white-text"><%=@hangout.date.strftime('%d %b, %Y')%> - <%=@hangout.date.strftime('%I:%M%P')%></p>
</div>
<div class="status-wrapper">
  <p class="white-text center-align"><%= t('.status') %></p>
</div>

<div id="map" style="width: 100%; height: 230px;"></div>

<div class="row">
  <ul class="collapsible collapsible-li center-align z-depth-1" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active">  <%= image_tag current_user.facebook_picture_url, class: 'circle user z-depth-2' %><br><h5><%= "#{current_user.first_name} #{current_user.last_name}" %></h5></div>
      <div class="collapsible-body">
        <% unless @hangout.user == current_user %>
          <%= button_to "Cancel participation", share_hangout_path(@hangout), method: :get, class: "btn-small" %>
        <% else %>
        <div class="valign-wrapper orange-text accent-4" style="justify-content: center;">
            <%= button_to t('.button_launch_vote'), launch_vote_hangout_path(@hangout), method: :patch, class: "btn-small" %>
          <%= button_to share_hangout_path(@hangout), method: :get, class: "btn-small grey lighten-1" do %>
          <i class="material-icons">share</i><% end %>
          <%= button_to edit_hangout_path(@hangout), class: "btn-small grey lighten-1" do %>
            <i class="material-icons">mode_edit</i>
          <% end %>
          <%= button_to cancel_hg_hangout_path(@hangout),class: "btn-small grey lighten-1", method: :patch, data: { confirm: t('.alert_delete') } do %><i class="material-icons">delete</i><% end %>
        <% end %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><h5><%= t('.guest-collapse') %></h5></div>
      <div class="collapsible-body">
        <ul>
          <div class="row">
            <div class="col s12">
              <% @confirmations.each do |confirmation| %>
              <div class="col s3 m1 l1"><li><%= image_tag confirmation.user.facebook_picture_url, class: "circle tooltipped", data: { position: "top", delay: "50", tooltip: "#{confirmation.user.first_name}"}%></li></div>
              <%end%>
            </div>
          </div>
        </ul>
      </div>
    </div>
    </li>
  </ul>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function initMap() {
      console.log('HELLO')
      var markers = (<%= raw @confirmation_markers.to_json %>);
      var bounds = new google.maps.LatLngBounds();

      markers.forEach(function(marker) {
        var marker = new google.maps.Marker({
          position: {lat: marker.lat, lng: marker.lng},
          map: map,
        });
      bounds.extend(marker.position);
      });

      console.log(<%= @confirmation_markers.count%>)

      if ( <%= @confirmation_markers.count%> > 1) {
        map.fitBounds(bounds);
        var center = (<%= raw @center.to_json %>);
        var cityCircle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          map: map,
          center: {lat: center.lat, lng: center.lng},
          radius: <%=@radius%>
        });

        var center = (<%= raw @adj_center.to_json %>);
        var cityCircle = new google.maps.Circle({
          strokeColor: '#000000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#B3FFA2',
          fillOpacity: 0.35,
          map: map,
          center: {lat: center.lat, lng: center.lng},
          radius: <%=@radius%>
        });
      }
      else {
        map.setZoom(14);
        console.log('lat:' + ''  + markers[0].lat)
        map.panTo({lat: markers[0].lat, lng: markers[0].lng})
      };

      // function get hangout status when true/ set interval/ ajax get /  circle


    });
  <% end %>
<% end %>
