<div class="container center-align vertical-align form_wrapper z-depth-4">
<div class="tag-line-home white-text">
<h5>Invite your friends and let Cheers find the best spot to hang out!</h5>
</div>
<div class="row form_wrapper_bottom_margin">
  <div class="col s12">

    <%= simple_form_for(@hangout)do |f| %>
      <% flash[:alert] = f.error_notification %>
      <%= f.input :title, label: false, placeholder: t('.placeholder_title'), error: false %>
      <div class="row">
        <div class="col s4 center-align vertical-align">
        <div class="face-dropdown"><p><%=t('.placeholder_catergory')%></p></div>
        </div>
        <div class="col s8">
        <%= f.input :category, label: false, collection: ["Food", "Drinks", "Coffee"], autofocus: false, error: false %>
        </div>
      </div>
      <%= f.input :date, as: :string, label: false,  placeholder: t('.placeholder_date'), input_html: {
          class: '', value: @hangout.date.nil? ? "" : @hangout.date.strftime("%d/%m/%Y %H:%M")}%>
      <%=f.input :force_location, as: :boolean, boolean_style: :inline, label:t('.address') %>

      <div id="force_zone_page" class="location_unforced">
        <div id="map" style="width:100%;height:300px"></div>
      </div>
      <%= f.input :center_address, label: false, input_html: {class: 'location_unforced truncate'}%>
      <%= f.input :latitude, label: false, input_html: {class: 'location_unforced'} %>
      <%= f.input :longitude, label: false, input_html: {class: 'location_unforced'} %>


      <%= f.button :submit, class: "btn btn-primary" %>
      <p class="center-align blue-grey-text text-lighten-2" id="home-face-text">Power by Facebook Connect</p>
    <% end %>
    </div>

    <div id="wrap">
      <div class="location_unforced">
        <input type="text" id="date"/>
        <input type="text" id="time"/>
      </div>
      <div id="outlet"></div>
    </div>


  <% content_for :after_js do %>
    <script>
    $(document).ready(function() {
      var datepicker = $('#date').pickadate({
              container: '#outlet',
              onSet: function(item) {
                  if ( 'select' in item ) setTimeout( timepicker.open, 0 )
              }
          }).pickadate('picker')

      var timepicker = $('#time').pickatime({
              container: '#outlet',
              onRender: function() {
                  $('<button>back to date</button>').
                      on('click', function() {
                          timepicker.close()
                          datepicker.open()
                      }).prependTo( this.$root.find('.picker__box') )
              },
              onSet: function(item) {
                  if ( 'select' in item ) setTimeout( function() {
                      $hangout_date.
                          off('focus').
                          val( datepicker.get() + ' @ ' + timepicker.get() ).
                          focus().
                          on('focus', datepicker.open)
                  }, 0 )
              }
          }).pickatime('picker')

      var $hangout_date = $('#hangout_date').
        on('focus', datepicker.open).
        on('click', function(event) { event.stopPropagation(); datepicker.open() })
      });
    $(document).ready(function() {
      $('select').material_select();
    });
    </script>
  <% end %>

  </div>
</div>
</div>
