<div class="container">
    <div class="row">
        <div class='col-sm-6'>

<%= simple_form_for(@hangout)do |f| %>
  <%= f.error_notification %>
    <%= f.input :title, label: false, placeholder: t('.placeholder_title') %>
    <%= f.input :category, label: false, prompt: t('.placeholder_catergory'), collection: ["food", "drinks", "coffee"]%>
    <%= f.input :date, as: :string, label: false,  placeholder: t('.placeholder_date'), input_html: {
        class: '', value: @hangout.date.nil? ? "" : @hangout.date.strftime("%d/%m/%Y %H:%M")}%>
    <%=f.input :force_location, as: :boolean%>
 <br>
    <%= f.input :center_address, label: false %>
    <%= f.input :latitude, label: false %>
    <%= f.input :longitude, label: false %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
<div id="force_zone_page">
  <div id="map" style="width:100%;height:300px"></div>
</div>

<% content_for :after_js do %>
  <script>
            $(function () {
                var date = $('.datetimepicker').datetimepicker({
                   format:'DD/MM/YYYY HH:mm',
                });
                $('select').material_select();
            });


  </script>
<% end %>
