<div class="header center-align vertical-align">
  <%= image_tag @hangout.user.facebook_picture_url, class: 'circle'%>
    <h4 class="white-text"> <%= t('.message', host_name: @hangout.user.first_name ) %></h4>
</div>
<div class="container">
 <div class="row">
   <div class="col s12">
       <h2 class="center-align"><%= @hangout.title%></h2>
   </div>
 </div>
 <div class="row">
   <div class="col s6 center-align">
      <%= t('.day') %></br>
      <h5 class="orange-text orange-accent-4"><%= @hangout.date.strftime('%d %b, %Y') %></h4>
   </div>
   <div class="col s6 center-align">
      <%= t('.hour') %>
      <h5 class="orange-text orange-accent-4"><%= @hangout.date.strftime('%I:%M%P') %></h4>
   </div>
 </div>


</div>
<h3>Cheers!</h3>



  <p><i class="fa fa-calendar" aria-hidden="true"></i>
<%= t('.day', day: @hangout.date.strftime('%d %b, %Y') ) %></p>
  <p><i class="fa fa-clock-o" aria-hidden="true"></i>
<%= t('.hour', hour: @hangout.date.strftime('%I:%M%P') ) %></p>
<h3><%= t('.where') %></h3>
<p><%= t('.concept_explanation_html', link: link_to( t('.explanation_link_html'), root_path)) %></p>

<h3><%= t('.question') %></h3>
<div class="btn-card-position"><%= link_to t('.yes_btn'), new_hangout_confirmation_path(@hangout), class: 'btn btn-success' %></div>
<br>

<div class="btn-card-position"><%= link_to t('.accepted_btn'), new_hangout_confirmation_path(@hangout), class: 'btn btn-success' %></div>
<br>

<div class="btn-card-position"><%= link_to t('.no_btn'), root_path, class: 'btn btn-info' %></div>
