<div class="header center-align vertical-align">
  <%= image_tag @hangout.user.facebook_picture_url, class: 'circle'%>
    <h4 class="white-text"> <%= t('.message', host_name: @hangout.user.first_name ) %></h4>
</div>
<div class="container">
 <div class="row">
   <div class="col s12">
       <h1 class="center-align"><%= @hangout.title%></h1>
   </div>
 </div>
 <div class="row">
   <div class="col s6 l3 offset-l3 center-align">
     <i class="material-icons">date_range</i></br>
      <h5 class="orange-text orange-accent-4"><%= @hangout.date.strftime('%d %b, %Y') %></h4>
   </div>
   <div class="col s6 l3 center-align">
     <i class="material-icons">access_time</i></br>
      <h5 class="orange-text orange-accent-4"><%= @hangout.date.strftime('%I:%M%P') %></h4>
   </div>
 </div>
 <div class="row">
   <div class="col s12 center-align">
     <h5><%= t('.where') %></h5>
     <p><%= t('.concept_explanation_html', link: link_to( t('.explanation_link_html'), root_path)) %></p>
   </div>

   <div class="col s12 center-align">
     <h5><%= t('.question') %></h5>
     <%= link_to new_hangout_confirmation_path(@hangout), class: 'btn green btn-large' do  %>
     <i class="material-icons">check</i>
     <% end %>
     <%= link_to root_path, class: 'btn red btn-large' do  %>
     <i class="material-icons">close</i>
     <% end %>


   </div>
 </div>
</div>
