<div class="header center-align">
   <%= image_tag @hangout.user.facebook_picture_url, class: 'circle z-depth-2'%>
     <h4 class="white-text"><%=@hangout.title%></h4>
     <p class="white-text"><%=@hangout.date.strftime('%d %b, %Y')%> - <%=@hangout.date.strftime('%I:%M%P')%></p>
 </div>
 <div class="status-wrapper red">
   <p class="white-text center-align"><%= t('.status') %></p>
 </div>
 <div class="container">
   <div class="row padded-top-1">
     <div class="col s12 m6 l8  offset-m3 offset-l2 center-align">
       <h1><i class="large material-icons">event_busy</i></h1>
       <h5><%= t('.content', host_name:@hangout.user.first_name, hangout_title: @hangout.title) %></h5>
         <p><%=@hangout.date.strftime('%d %b, %Y')%></p>
         <p><%=@hangout.date.strftime('%I:%M%P')%></p>
     </div>
   </div>
     <div class="row padded-top-1">
       <div class="col s12 m6 l8  offset-m3 offset-l2 center-align">
         <%= link_to t('.content-new'), root_path, class:'btn' %>
       </div>
    </div>
 </div>
