<div class="header center-align">
  <%= image_tag @hangout.user.facebook_picture_url, class: 'circle z-depth-2'%>
    <h4 class="white-text"><%=@hangout.title%></h4>
    <p class="white-text"><%=@hangout.date.strftime('%d %b, %Y')%> - <%=@hangout.date.strftime('%I:%M%P')%></p>
</div>
<div class="status-wrapper">
  <p class="white-text center-align"> <%=t('.banner')%> <br> <%=t('.waiting_banner')%></p>
</div>

<!-- Place card -->
<div class="z-depth-1">
<div class="container">
  <div class="row place-wrapper">
    <div class="content">
      <h4><%= link_to @hangout.place.name, @hangout.place.fsq_url, target: 'blank'%></h4>
      <h6><%= @hangout.place.address %></h6>
      <div class="rating_wrapper">
        <div class="box-rating white-text"><%= @hangout.place.rating %>/10</div>
        <%= image_tag('poweredbyfoursquare300.png', id: 'fsq-logo-small')%>
      </div>
    </div>
    <div class="">
      <%= image_tag @hangout.place.photo_url %>

    </div>
  </div>
</div>
</div>

<div id="direction_map"></div>
<div class="direction-header z-depth-3">
  <div class="center-align vertical-align direction-header-item">
    <%= image_tag @confirmation.user.facebook_picture_url, class: 'avatar z-depth-2'%>
  </div>
  <div class="direction-header-item">
    <p ><%=t('.indication')%></p>
    <p class="way-info"><%=t('.info_itinerary', time: (@confirmation.time_to_place.nil? ? 0 : @confirmation.time_to_place / 60), distance: (@confirmation.distance_to_place.nil? ? 0 : @confirmation.distance_to_place / 1000))%>
    </p>
  </div>
</div>

<div class="row btn-map-wrapper">
  <div class="btn-map-wrapper-item center-align vertical-align">
    <a href="<%=@google_url%>", target='_blank', class="btn-direction"><i class="medium material-icons">directions</i></a>
  </div>
  <div class="btn-map-wrapper-item center-align vertical-align">
    <a href="<%=@taxi_url%>", target='_blank', class="btn-direction"><%= image_tag '99.png', id:"taxi_pic" %></a>
  </div>
  <div class="btn-map-wrapper-item center-align vertical-align">
    <a href="<%=@uber_url%>", target='_blank', class="btn-direction"><%= image_tag 'uber.png', id: "uber_pic"%></a>
  </div>
</div>


<div class="row guest-drop-down">
  <ul class="collapsible collapsible-li center-align z-depth-1" data-collapsible="accordion">
    <li>
      <div class="collapsible-header vertical-align"><h5><%= t('.guest-collapse') %></h5></div>
      <div class="collapsible-body">
        <ul>
          <div class="row">
            <div class="col s12">
              <% @confirmations.each do |confirmation| %>
              <div class="col s3 m1 l1"><li><%= image_tag confirmation.user.facebook_picture_url, class: "circle tooltipped", data: { position: "top", delay: "50", tooltip: "#{confirmation.user.first_name}"}%></li></div>
              <%end%>
            </div>
          </div>
        </ul>
      </div>
    </div>
    </li>
  </ul>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var departure = (<%= raw @departure.to_json %>);
      var direction = (<%= raw @direction.to_json %>);
      var selectedMode = 'bicylcing'; //(<%= raw @transport.to_json %>);

      var totalDistance = 0;
      var totalDuration = 0;

      console.log(selectedMode)

      initMap();

      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer; //({suppressMarkers : true});
        var directionsService = new google.maps.DirectionsService;
      console.log(directionsService)
        var map = new google.maps.Map(document.getElementById('direction_map'), window.MAP_OPTIONS);
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {

        directionsService.route({
          origin: {lat: departure.lat, lng: departure.lng},
          destination: {lat: direction.lat, lng: direction.lng},
          travelMode: google.maps.TravelMode['BICYCLING'],
          unitSystem: google.maps.UnitSystem.METRIC,
        },
        function(response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    });
  <% end %>
<% end %>
