<div class="text-center padded">

<h2><%= t('.message', title: @hangout.title )%></h2>

  <p> <%= t('.list', category: @hangout.category ) %></p>

  <p> <%= t('.vote', category: @hangout.category ) %></p>

 <ul >
    <% @hangout.place_options.each do |option|%>
      <li class="text-center" ><%= button_to( submit_vote_hangout_path(@hangout), method: :patch, params: {place_id: option.place_id}, class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Vote
      <% end %>
      <%= option.place.name %></li>
      </div>
      <br>
      <% end %>
  </ul>

<div class="final-vote">
    <%= button_to t('.button_final_vote'), close_vote_hangout_path(@hangout), method: :patch, class: "btn btn-success" %>
</div>
