<div class="header center-align">
  <%= image_tag @hangout.user.facebook_picture_url, class: 'circle z-depth-2'%>
    <h4 class="white-text"><%=@hangout.title%></h4>
    <p class="white-text"><%=@hangout.date.strftime('%d %b, %Y')%> - <%=@hangout.date.strftime('%I:%M%P')%></p>
</div>


<% if has_voted? %>
<!-- status bar -->
<div class="status-wrapper green">
  <p class="white-text center-align"><%= t('.status-voted', default: 'Thanks for your vote! Whait for the votation to finish') %></p>
</div>
<!-- Only for hangout owner -->
<div class="container center-align">
<% if @hangout.user == current_user %>
  <p><%=t('.nb_conf') + ": #{@nb_conf}"%></p>
  <p><%=t('.nb_vote') + ": #{@nb_vote}"%></p>

  <div class="final-vote">
    <%= button_to t('.button_final_vote'), close_vote_hangout_path(@hangout), method: :patch, class: "btn grey lighten-1 z-depth-0" %>
  </div>
  </div>
<% end %>

<!-- User choice -->
<div class="container">
  <h4 class="center-align"><%= t('.has_voted')%></h4>
  <!-- <h1><%= voted_place.name %></h1> -->
  <!-- <h2 class="center-align"><%= t('.wait')%></h2> -->
  <div class="row place-wrapper z-depth-1">
    <div class="content">
      <h4><%= link_to voted_place.name, voted_place.fsq_url, target: 'blank'%></h4>
      <h6><%= voted_place.address %></h6>
      <ul class="list-inline rating_wrapper">
        <li class="box-rating white-text"><%= voted_place.rating %>/10</li>
      </ul>
    </div>
    <div class="">
      <%= image_tag voted_place.photo_url %>
    </div>
  </div>
</div>

<% else %>
<!-- status bar -->
<div class="status-wrapper orange-accent-2">
  <p class="white-text center-align"><%= t('.status', default: 'Voting on! Choose your favorite!') %></p>
</div>
<!-- Only for hangout owner -->
<div class="container center-align">
<% if @hangout.user == current_user %>
  <p><%=t('.nb_conf') + ": #{@nb_conf}"%></p>
  <p><%=t('.nb_vote') + ": #{@nb_vote}"%></p>

  <div class="final-vote">
    <%= button_to t('.button_final_vote'), close_vote_hangout_path(@hangout), method: :patch, class: "btn grey lighten-1 z-depth-0" %>
  </div>
  </div>
<% end %>
<!-- List of places -->
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3 center-align">
      <p><%= t('.list', category: @hangout.category )%></p>
      <%= image_tag('poweredbyfoursquare300.png', class: 'fsq-logo')%>
    </div>
  </div>
</div>
  <div class="container">
    <% place_list.each do |option|%>
    <div class="row place-wrapper z-depth-1">
      <div class="content">
        <h4><%= link_to option.place.name, option.place.fsq_url, target: 'blank'%></h4>
        <h6><%= option.place.address %></h6>
        <ul class="list-inline rating_wrapper">
          <li class="box-rating white-text"><%= option.place.rating %>/10</li>
          <%= button_to( submit_vote_hangout_path(@hangout), method: :patch, params: {place_id: option.place_id}, class: "btn-vote-card z-depth-0") do %>
          Vote
          <% end %>
        </ul>
      </div>
      <div class="">
        <%= image_tag option.place.photo_url %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
