<div class="text-center padded">

<h2><%= t('.message', title: @hangout.title )%></h2>

  <p> <%= t('.list', category: @hangout.category ) %></p>

  <p> <%= t('.vote', category: @hangout.category ) %></p>

 <ul >
    <% @hangout.place_options.each do |option|%>
      <li class="text-center" ><%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Vote
      <% end %>
      </div> <%= option.place.name %></li>
      <br>
      <% end %>
  </ul>
